.typingeffect{
    display: inline-block;
  }
  .typed-out{
    overflow: hidden;
    border-right: .15em solid orange; 
     white-space: nowrap; 
    animation: 
      typing 5s forwards;
    font-size: 200%;
    width: 0;
  }
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

